# Configuration for manila-rootwrap
# This file should be owned by (and only-writeable by) the root user

[DEFAULT]
# List of directories to load filter definitions from (separated by ',').
# These directories MUST all be only writeable by root !
filters_path={{ snap_paths.common }}/etc/manila/rootwrap.d,{{ snap_paths.snap }}/usr/share/manila/rootwrap

# List of directories to search executables in, in case filters do not
# explicitly specify a full path (separated by ',')
# If not specified, defaults to system PATH environment variable.
# These directories MUST all be only writeable by root !
exec_dirs={{ snap_paths.snap }}/sbin,{{ snap_paths.snap }}/usr/sbin,{{ snap_paths.snap }}/bin,{{ snap_paths.snap }}/usr/bin,{{ snap_paths.snap }}/usr/local/bin,{{ snap_paths.snap }}/usr/local/sbin,{{ snap_paths.snap }}/usr/lpp/mmfs/bin

# Enable logging to syslog
# Default value is False
use_syslog=False

# Which syslog facility to use.
# Valid values include auth, authpriv, syslog, user0, user1...
# Default value is 'syslog'
syslog_log_facility=syslog

# Which messages to log.
# INFO means log all usage
# ERROR means only log unsuccessful attempts
syslog_log_level=ERROR
